@import url("theme.css");
/*
"fix screen width.
*/


.wy-nav-content {
    max-width: 80%;
}

.strike {
  text-decoration: line-through;
}

/* -------------------
   Changes prepared by Emmanuelle Renauld:
   -------------------*/

/* Code shows in red when writing with ``code``. Changing to gray */
code.literal {
    color: dimgray !important;
}

/* Alternating sub-section color + adding a padding for continuous view
structure is:
div class rst-content
    div (no class. role=main)
        div (no class. itemprop=articleBody)
            section (the main title of the page)
                section (subtitles)
 */

.rst-content > div > div > section > section {
    padding: 1em;
    margin-bottom: 1em;
}
.rst-content > div > div > section > section:nth-of-type(odd) {
    background-color: rgba(77, 210, 223, 0.42);
}

.rst-content > div > div > section > section:nth-of-type(even) {
        background-color: #eeefef;
}

/*Now tables colors are off. Fixing.*/
table .row-odd {
    background-color: white
}

table .row-even {
    background-color: #bfbdbd;
}

/* Creating a "centered" container.*/
.centered {
    text-align: center;
}
.centered table {
    margin-left: auto;
    margin-right: auto;
}

/* Adding the same padding to footers */
footer {
    padding: 1em;
}

/* Removing space in nested lists */
.rst-content ul {
    margin-top: 0 !important;
}

.rst-content li {
    padding: 0.1em 0;
}

dt {
    margin-bottom: 0 !important;
}